//-
//- Crafting Guide - _header.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__header
    h1
        a.logo(href="/"): img(src="/images/workbench_front.png")
        p Crafting Guide for Minecraft
    .divider.bottom
