//-
//- Crafting Guide - _header.jade
//-
//- Copyright (c) 2014 by Redwood Labs
//- All rights reserved.
//-

.view__header
    h1
        a(href="/")
            img(src="/images/workbench_front.png")
        p Crafting Guide
    .divider.bottom
