//-
//- Crafting Guide - tutorial_page.jade
//-
//- Copyright © 2014-2016 by Redwood Labs
//- All rights reserved.
//-

.view__tutorial_page
    .left
        .view__adsense

    .right
        .about
            .left
                img
            .right
                .title
                .sourceMod a tutorial for <a></a>
                .officialLink from <a></a>

        .tutorial-sections

        section.videos
            h2
            .panel
                .video-container
