//-
//- Crafting Guide - index.jade
//-
//- Copyright © 2014-2017 by Redwood Labs
//- All rights reserved.
//-

doctype html
html
    head
        title The Ultimate Minecraft Crafting Guide
        link(href="/images/favicon.png" rel="icon" type="image/png")
        link(href="/main.css" rel="stylesheet" type="text/css" )
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width")

    body
        .view__feedback
        .view__screen(style="display: none")

        .page
            .view__header

            .content.hidden
            script document.write('<div class="content-loading"><img src="/images/wait.gif"/></div>');

            noscript
                h1 Crafting Guide requires JavaScript to operate.
                h1 Please re-enable JavaScript and reload the page.

            .view__footer

        include ../includes/_google_analytics.jade
        script(src="/external.js")
        script(src="/internal.js")

        include ../includes/_google_adsense.jade
        include ../includes/_google_sitelinks.jade

