//-
//- Crafting Guide - multiblock_viewer.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__multiblock_viewer
    .left
        h3 Complete Materials
        .view__inventory.complete

        h3 Current Layer
        .view__inventory.layer
    .right
        .buttons
            .button.back: .bezel: p back
            .button.next: .bezel: p next
        .view__multiblock
        .caption
            img
            p &nbsp;
