//
// Crafting Guide - multiblock_viewer.scss
//
// Copyright © 2014-2016 by Redwood Labs
// All rights reserved.
//

.view__multiblock_viewer {
    display: flex;
    align-items: stretch;

    h3 {
        margin-bottom: $size-margin-small;
        margin-left: 0;

        &:not(:first-child) {
            margin-top: $size-margin-large;
        }
    }

    .left {
        border-right: 1px solid $color-gray-light;
        flex: 1 0 40%;

        .view__inventory {
            margin-left: $size-margin-medium;
        }
    }

    .right {
        flex: 0 1 60%;

        display: flex;
        flex-direction: column;

        .buttons {
            flex: 0 0 auto;
            margin-bottom: $size-margin-medium;

            display: flex;
            justify-content: space-between;

            .button {
                flex: 1 1 50%;
                margin-left: $size-margin-medium;
            }
        }

        .view__multiblock {
            flex: 0 0 auto;
            align-self: center;
        }

        .caption {
            flex: 0 0 auto;
            margin-top: $size-margin-medium;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-right : $size-margin-medium;
                height       : $size-minecraft-block;
                width        : $size-minecraft-block;


                border : none;
            }

            p {
                font-family: $font-family-text;
                font-size: $font-size-medium;
            }
        }
    }
}
