//-
//- Crafting Guide - browse_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__browse_page
    .sidebar
        include ./includes/_sidebar_skyscraper.html

    .mainBody
        h2: p Active Mods
        .mods