//-
//- Crafting Guide - crafting_grid.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

table.view__crafting_grid
    tr
        td: a: img(src="/images/empty.png")
        td: a: img(src="/images/empty.png")
        td: a: img(src="/images/empty.png")
    tr
        td: a: img(src="/images/empty.png")
        td: a: img(src="/images/empty.png")
        td: a: img(src="/images/empty.png")
    tr
        td: a: img(src="/images/empty.png")
        td: a: img(src="/images/empty.png")
        td: a: img(src="/images/empty.png")
