//-
//- Crafting Guide - full_recipe.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__full_recipe

    .input
        h3: p Ingredients
        .view__inventory_table

    .pattern
        table.view__crafting_grid
        .tool: p

    .output
        h3: p Produces
        .view__inventory_table
