//-
//- Crafting Guide - inventory_table.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__inventory_table
    table
        tr.edit
            td.quantity: input(name="quantity")
            td.icon: img(src="/images/unknown.png")
            td.name(width="*"): input(name="name")
            td.action: button(name="add") add
    .toolbar
        button(name="clear") clear
