//-
//- Crafting Guide - item_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__item_page
    .sidebar
        .titleImage: img

    .mainBody
        h1.name
        .byline: p from <a></a>
        .description: p

        .recipe.section
            h2 Recipe
            .panel
                .view__full_recipe

        .usedInMaking: .view__item_group
        .similar: .view__item_group
        .plan