//-
//- Crafting Guide - mod.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__mod
    select.version
        option(value="none") None
    .name
        a: p
    .description: p
