//-
//- Crafting Guide - mod_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__mod_page
    .sidebar
        .titleImage: img
        select.version
        a.homePage(target="new"): p Offical Home Page
        a.documentation(target="new"): p Documentation
        a.download(target="new"): p Download

    .mainBody
        h1.name
        .byline: p
        .description: p

        .section.items
            h2 Items
            .panel
