//-
//- Crafting Guide - mod_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__mod_page
    .sidebar
        .titleImage: img
        select.version
        a.homePage: p Offical Home Page

    .mainBody
        h1.name
        .byline: p
        .description: p

        .section.items
            h2 Items
            .panel
