//-
//- Crafting Guide - mod_pack.jade
//-
//- Copyright (c) 2014 by Redwood Labs
//- All rights reserved.
//-

.view__mod_pack
    h2
        img(src="/images/bookshelf.png")
        p Mod Pack

    table
        tr
            td &nbsp;
            td &nbsp;
            td
                input.mod_version_url(placeholder="enter a URL to load another recipe book...")
                button.mod_version_load_button Load
