//-
//- Crafting Guide - mod_pack.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__mod_pack
    h2
        img(src="/images/bookshelf.png")
        p Mod Pack

    .panel
        .mods
        .toolbar
            button(name="suggestMod") suggest a mod