//-
//- Crafting Guide - stack.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

tr.view__stack
    td.quantity: p
    td.icon: img(src='')
    td.name(width='*'): p
    td.action
        button.remove &nbsp;
