//
// Crafting Guide - mod_version_selector.scss
//
// Copyright © 2014-2016 by Redwood Labs
// All rights reserved.
//

.view__mod_version_selector {
    .toggle {
        cursor      : pointer;
        font-family : $font-family-control;
        font-size   : $font-size-medium;

        display : flex;

        .checkbox {
            display      : inline-block;
            height       : $font-size-medium;
            margin-right : $size-margin-small;
            position     : relative;
            width        : $font-size-medium;

            background : $color-white;
            border     : $size-border-small solid $color-black;
        }

        .label {
            color: $color-gray-medium;
        }

        &.enabled {
            .checkbox:before {
                position: absolute; top: 0; left: 1.5px; // adjust for glyph position
                content: "✕";
            }

            .label {
                color: $color-black;
            }
        }
    }

    .version {
        margin-top: $size-margin-medium;

        font-family: $font-family-control;
        font-size: $font-size-medium;

        display: flex;
        align-items: baseline;

        span {
            flex: 0 0 auto;

            margin-right: $size-margin-medium;
        }

        select {
            flex: 1 1 100%;

            font-family: $font-family-control;
            font-size: $font-size-medium;
        }
    }

    .warning {
        margin-top: $size-margin-medium;

        color: $color-error;
        font-family: $font-family-text;
        font-size: $font-size-small;
        line-height: $font-size-small * 1.25;

        b {
            font-weight: bold;
        }
    }
}