.view__mod_version_selector
    .toggle
        span.checkbox
        span.label I have this mod in my modpack
    .warning.
        <b>PLEASE NOTE:</b> Crafting plans, search, and other features will ignore items and recipes from this mod.
