//-
//- Crafting Guide - crafting_grid.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__crafting_grid
    .row
        .view__slot
        .view__slot
        .view__slot
    .row
        .view__slot
        .view__slot
        .view__slot
    .row
        .view__slot
        .view__slot
        .view__slot
