//-
//- Crafting Guide - _header.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__header
    h1
        a.logo(href="/"): img(src="/images/workbench_front.png")
        p Crafting Guide for Minecraft

    .addthis_sharing_toolbox
    .divider.bottom
        .login
            span.name
            a(href="/login/") Login

    .navBar
        a(data-page="home", href="/")
            p Home
            .dot
        a(data-page="configure", href="/configure/")
            p Configure
            .dot
        a(data-page="browse", href="/browse/")
            p Browse
            .dot
        a(data-page="craft", href="/craft/")
            p Craft
            .dot

        .view__item_selector.search: p find an item...
