//-
//- Crafting Guide - _standard_scripts.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

script(src="/js/underscore.js")
script(src="/js/jquery.js")
script(src="/js/backbone.js")
script(src="/js/jade.js")
script(src="/js/markdown.js")
script(src="/js/when.js")
script(src="/js/jquery-ui.js")
script(src="/js/main.js")
