.disabled { color: gray; }
.centered { text-align: center; }
.error { color: red; display: none; font-weight: bold; width: 100%; }
.hidden { display: none; }
.padded { margin: 10px; }

body { background: url("../images/ice.png"); margin-bottom: 100px; }
h1 { font-family: 'Press Start 2P', cursive; font-size: 24px; margin-left: 10px; }
h1 img { height: 64px; width: 64px; vertical-align: bottom; }
h2 { font-family: 'Press Start 2P', cursive; font-size: 16px; margin-left: 10px; }
p { margin-left: 10px; margin-right: 10px; }

#body { background: rgba(230, 230, 230, 0.90); box-shadow: 10px 10px 20px #666; margin-top: 50px; }
#border_stone { background: url("../images/stone_brick.png"); height: 32px; box-shadow: 2px 0px 4px #444; }
#border_grass { background: url("../images/grass_side.png"); height: 32px; box-shadow: 2px 0px 4px #444; }
#border_bedrock { background: url("../images/bedrock.png"); height: 32px; box-shadow: 2px 0px 4px #444; }
#crafting { margin-bottom: 64px; }
#crafting_error { margin-left: 10px; }
#crafting_output { margin-left: 10px; width: 920px; }
#crafting_output th { background: #f8f8f8; border-left: 1px solid #bbb; font-weight: bold; padding: 10px; }
#crafting_output td { background: #f8f8f8; border-left: 1px solid #bbb; padding: 10px; }
#footer { background: #3E1D0A; color: white; padding-top: 10px; };
#footer iframe { display: inline-block; }
#footer a { color: gray; }
#header { background: url("../images/stone_brick_light.png"); height: 64px; }
#header h1 { font-size: 32px; }
#header img { height: 96px; width: 96px; margin-left: -32px; margin-top: -32px; }
#recipebook_load_button { margin-left: 5px; width: 60px; }
#recipebook_table { margin-left: 10px; width: 920px; }
#recipebook_table td { background: #f8f8f8; border-left: 1px solid #bbb; padding: 10px; }
#recipebook_url { width: 600px; }
#recipebooks { margin-top: 32px; margin-bottom: 32px; }

