//-
//- Crafting Guide - stack.jade
//-
//- Copyright © 2014-2017 by Redwood Labs
//- All rights reserved.
//-

.view__stack
    .quantity
        input
        .hover
    .icon: img(src='')
    .name: a
    .action.first(style="display: none")
        .button: .bezel: p &nbsp;
    .action.second(style="display: none")
        .button: .bezel: p &nbsp;
