//-
//- Crafting Guide - crafting_table.jade
//-
//- Copyright (c) 2015-2017 by Redwood Labs
//- All rights reserved.
//-

.view__crafting_table
    .input
        .view__crafting_grid
        .tool
    .output
        .view__slot
        .multiplier
