//-
//- Crafting Guide - crafting_table.jade
//-
//- Copyright (c) 2015-2017 by Redwood Labs
//- All rights reserved.
//-

.view__crafting_table
    .input_inventory
        .view__inventory
    .grid_block
        .input_grid
            .view__crafting_grid
            .tool
        .output_slot
            .view__slot
            .multiplier
    .output_inventory
        .view__inventory
