//-
//- Crafting Guide - configure_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__configure_page
    .sidebar
        include ./includes/_sidebar_skyscraper.html

    .mainBody
        .view__mod_pack
