//-
//- Crafting Guide - crafting_table.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__crafting_table
    h2
        img(src="/images/workbench_top.png")
        p Crafting Plan

    .panel
        .prev
        .view__minimal_recipe
        .next

        .problem.hideable
            a report a problem
