//-
//- Crafting Guide - landing_page.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__craft_page
    .sidebar
        ins.view__adsense

    .mainBody

        .want.section
            h2 Items to Make
            .panel
                .view__inventory.large.editable

        .have.section
            h2 Already in Inventory
            .panel
                .view__inventory.large

        .view__craftsman_working.section

        .need.section.hideable.hidden
            h2 Need to Gather
            .panel
                .view__inventory.large

        .steps.section.hideable.hidden
            h2 Steps
            .panel

        .instructions.section
            h2 Instructions
            .panel
                p.
                    Welcome to the Craft page.  Here you can get detailed instructions for making any item in your
                    current mod pack (use the <a href="/configure">Configure</a> page to change it). Making a crafting
                    plan is very simple:
                ol
                    li Click the "add an item..." button to choose items to craft
                    li Use the <img src="/images/up.png"> button to mark any items you already possess
                    li Use the <img src="/images/check.png"> button to complete any step if you already have that item
