//-
//- Crafting Guide - full_recipe.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__full_recipe

    .input
        h3 Ingredients
        .view__inventory

    .pattern
        table.view__crafting_grid
        .tool: a

    .output
        h3 Produces
        .view__inventory
