//-
//- Crafting Guide - home_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__home_page
    .sidebar
        .view__adsense

    .mainBody
        .section
            h2 Welcome!
            .panel
                .entry
                    p.intro.
                        Crafting Guide is the ultimate resource for Minecraft. Whether you're punching trees or building
                        reactors, you'll find Crafting Guide indispensable.
                    ul
                        li.intro Can't remember the recipe for a <a href="/browse/buildcraft/quarry">BuildCraft Quarry</a>?
                        li.intro Curious to see all the blocks added by <a href="/browse/railcraft">Railcraft</a>?
                        li.intro Want step-by-step directions for making a full <a
                            | href="/craft/quantumsuit_bodyarmor:quantumsuit_boots:quantumsuit_helmet:quantumsuit_leggings"
                            | >IC2 QuantumSuit</a>?
                    p.intro No problem. Crafting Guide can do it all.
                    p.
                        <a class="section-link" href='/configure'>Configure</a> which mods you're using, and the entire
                        site will update itself to your mod pack.
                    p.
                        <a class="section-link" href='/browse'>Browse</a> through your own customized item catalog to
                        see full recipe lists, related items, recipes added by each tool, and even which items can be
                        made from the item you're looking at.
                    p.
                        <a class="section-link" href='/craft'>Craft</a> any number of items from your mod pack to see a
                        full list of raw ingredients, and recipe-by-recipe instructions on how to make everything on
                        your list. No item is too complex, and no build is too big.

        .section
            h2 What's new?
            .panel
                h3 2015-11-14
                .entry
                    p.
                        One more small one over the weekend... <a href="/browse/advanced_solar_panels">Advanced Solar
                        Panels</a> has been added to crafting guide!

                h3 2015-11-14
                .entry
                    p.
                        For a long while now, <a href="/browse/galacticraft">Galacticraft</a> has been the most
                        requested mod, and it's finally here!  Enjoy!

            .panel
                h3 2015-11-10
                .entry
                    p.
                        Remember me?  They guy who runs the site.  Yeah, I'm back, and with big news!  The site now has
                        a completely new crafting algorithm.  Instead of just taking the first crafting plan it comes up
                        with, it tries to compute every possible plan, rates them, and then picks the best one.  This
                        also clears up a lot of bugs related to the old algorithm.  The one drawback is that some items
                        can take a bit longer to compute than with the old way, but I think you'll find it's worth it!
                    p.
                        On a personal note, I think it's clear that I don't have nearly as much time to dedicate to the
                        site as I used to.  That's mostly because I started a new job which keeps me away from working
                        on the site so much.  I hope to be able to get into a more regular pace now things my personal
                        life has settled down again.

                h3 2015-07-25
                .entry
                    p.
                        You may have noticed things have been very quiet with the site for the past month... well I'm
                        afraid that's because I haven't been working on it.  Instead, I've been hunting for a new job.
                        Now that I've got that all squared away (I'll be starting at Looker in Santa Cruz on Monday),
                        I'll have nights and weekends to continue working on the site.  Thanks for being patient!

                h3 2015-06-12
                .entry
                    p.
                        Today I launched the second major part of the item description editor: image uploads! As you
                        enter your description, use the markdown notation for an image <tt>  ![](image.png)  </tt> and a
                        empty image preview will show up underneath the editor. Click the button to select an image from
                        your computer. Just be sure to keep the images to a reasonable size (< 750kB, and < 740px by
                        600px).

                h3 2015-05-13
                .entry
                    p.
                        As of today, you can now add and edit item descriptions right on Crafting Guide. This feature is
                        starting small with just item descriptions, but eventually all the content on the site will be
                        editable. All you need is a (free) GitHub account, and you're ready to go!
                    p.
                        For those more comfortable with a regular text editor, all the content is still in GitHub under
                        the <a href="https://github.com/andrewminer/crafting-guide-data">crafting-guide-data</a> repo.
                        Just follow the instructions, and you can submit content via pull request instead of using the
                        website's editor.

                h3 2015-04-30
                .entry
                    p.
                        I've been working on a big new feature for a while now, but I didn't want to leave everyone
                        without anything new for so long... So, I've just finished adding <a
                        href="/browse/minefactory_reloaded">MineFactory Reloaded</a>! Enjoy!

                h3 2015-04-20
                .entry
                    p.
                        Okay... big changes on the crafting page! Instead of having four little boxes for the various
                        parts of the crafting plan, the new page shows all the steps as one long list.  In addition, you
                        get a lot more control over the plan. Now, you can even mark individual steps as complete to get
                        a new crafting plan which doesn't include those items.
                    p.
                        As an example, let's say you're thinking about upgrading your <a
                        href="/browse/simply_jetpacks/reinforced_jetpack">Reinforced Jetpack</a> to a shiny new <a
                        href="/browse/simply_jetpacks/resonant_jetpack">Resonant Jetpack</a>, you can just mark off the
                        step for the Reinforced Jetpack, and get only the materials and steps for doing the upgrade.
                        I'm really pleased with the new crafting page, and I think you're going to love it!

                h3 2015-04-11
                .entry
                    p.
                        I've just finished adding <a href="/browse/simply_jetpacks">Simply Jetpacks</a> by Tonius.  It
                        seems like a simple mod on the surface, but what with all the upgrades and technology tiers, it
                        takes an amazing <a href="/craft/flux_infused_jetplate">87 steps</a> to make the highest-tier
                        jetpack!
                    p.
                        I've also added <a href="/browse/solar_flux">Solar Flux</a> by Nauktis. Again, another
                        deceptively simple mod, but the <a href="/browse/solar_flux/solar_panel_vi/">most powerful solar
                        panel</a> kicks out an impressive 4096 RF/t! I just hope your mine has been productive... among
                        other things, you'll need 45 Diamonds, 110 Gold Ore, 1568 Copper Ore, and 6023 Iron Ore!

                h3 2015-04-08
                .entry
                    p.
                        I've been working on improving the crafting plan a bit. You're now able to represent recipes
                        which require a stack of inputs (e.g., making <a href="/browse/enderio/fused_quartz/">Fused
                        Quartz</a> from EnderIO). This allows for a number of improvements, especially in how fluids are
                        handled. Check out the crafting plan for a
                        <a href="/craft/cryo_stabilized_fluxduct">Cryo-Stabilized Fluxduct</a>, for example.
                    p.
                        I've also added support for MachineMuse's <a href="/browse/modular_powersuits">Modular
                        Powersuits</a>!  Unfortunately, I wasn't able to get any recipe sets working other than the
                        vanilla set, but if anyone has any other working recipes files, I'd be happy to add them!

                h3 2015-04-06
                .entry
                    p.
                        I've just added a site-wide search feature right next to the other navigation controls. Just
                        click it and start typing to find any item in your active mod pack. Head over to the
                        <a href="/configure">configure</a> page to adjust what mods are in your pack.
                    p.
                        The really big news, though, is that <a href="http://github.com/TiuTalk">Thiago Belem</a>'s real
                        project is complete: <a href="/browse/extra_utilities">Extra Utilites</a>! One of the most
                        highly requested mods, this is a fantastic addition to the growing list of mods supported by
                        Crafting Guide. A huge "Thank You!" to Thiago for his contributions!

                h3 2015-04-04
                .entry
                    p.
                        Thanks to <a href="http://github.com/TiuTalk">Thiago Belem</a>, Crafting Guide now has support
                        for <a href="/browse/ender_storage">Ender Storage</a>!  While it's only a few items, it's a very
                        handy mod well worth having in your mod pack!  Thanks, Thiago!
