//-
//- Crafting Guide - inventory.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__inventory
    h2
        img.icon
        p
    .panel
        .scrollbox
            table
                tr.edit.hideable.hidden
                    td.name(colspan="4", width="*"): .view__item_selector: p.button-label add an item...
        .toolbar.hideable.hidden
            button(name="clear") clear
