//-
//- Crafting Guide - inventory.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__inventory
    .item_container
    .empty_placeholder.hideable.hidden nothing
    .buttons
        .view__item_selector.hideable.hidden.button: p add an item...
        .button.clear: p clear
