//-
//- Crafting Guide - inventory.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

.view__inventory
    h2
        img.icon
        p
    .panel
        .scrollbox
            table
                tr.edit
                    td.quantity
                    td.icon
                    td.name(width="*"): input(name="name")
                    td.action: button(name="add") add
        .toolbar
            button(name="clear") clear
