//-
//- Crafting Guide - item_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__item_page
    .sidebar
        .titleImage: a: img
        a.craftingPlan.externalLink: p See Crafting Plan

        .view__adsense

    .mainBody
        h1.name
        .byline: p from <a></a>

        .recipes.section
            h2 Recipes
            .panel

        .description.section
            h2 Description
            .panel.markdown

        .videos.section
            h2 Videos
            .panel

        .usedToMake: .view__item_group

        .usedAsToolToMake: .view__item_group

        .similar: .view__item_group
