//-
//- Crafting Guide - item_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__item_page
    .sidebar
        .titleImage: a: img
        a.officialPage.externalLink.hideable.hidden(target="new"): p Official Documentation

        button.large.craftingPlan See Crafting Plan

        ins.view__adsense

    .mainBody
        h1.name
        .byline.hideable.hidden: p from <a></a>

        .recipes.section.hideable.hidden
            h2 Recipes
            .panel

        .description.section
            h2 Description
            .panel.markdown

        .videos.section.hideable.hidden
            h2 Videos
            .panel

        .view__item_group.usedToMake

        .view__item_group.usedAsToolToMake

        .view__item_group.similar
