//-
//- Crafting Guide - item_selector.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__item_selector
    .view__item_selector_popup.hideable.hiding
        .search
            input
        .results