//-
//- Crafting Guide - item_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__item_page
    .sidebar
        .titleImage: a: img
        a.craftingPlan.externalLink: p See Crafting Plan

        include ./includes/_sidebar_skyscraper.html

    .mainBody
        h1.name
        .byline: p from <a></a>
        .description: p

        .recipes.section
            h2 Recipes
            .panel

        .usedToMake: .view__item_group
        .usedAsToolToMake: .view__item_group
        .similar: .view__item_group
        .plan
