//-
//- Crafting Guide - markdown_image.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__markdown_image
    .loaded
        .thumbnail: img
        .fileName: p
        button
        input(type="file", accept="image/gif,image/jpeg,image/png" multiple="false")
    .error: p
    .loading: p checking for image...
