//-
//- Crafting Guide - markdown_section.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__markdown_section.section
    h2
    .panel
        .waiting: img(src='/images/wait.gif')
        .markdown
        .creating
            p Please help by adding a description!
        .editor
            .instructions
                p.
                    Edit using <a href="https://help.github.com/articles/github-flavored-markdown/" target="new">GitHub
                    Flavored Markdown</a>. Use <tt>[[Item Name]]</tt> to link to another item and
                    <tt>![](image.png)</tt> to add an image.
            textarea
            .sizer
        .image_list
        .buttons
            .error: p
            .question: a(href="javascript:void;") Confused? Click here to ask a question!
            button.return return
            button.cancel cancel
            button.preview preview
            button.save save
            button.edit edit
        .confirming
            p Thanks for your help!
            p Your changes will appear on the site in a few minutes.
        .appologizing
            p Sorry, but something went wrong.
            p Please try again after a few moments.