//-
//- Crafting Guide - mod_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__mod_page
    .sidebar
        .titleImage: a: img
        select.version
        a.homePage.externalLink.hideable.hidden(target="new"): p Offical Home Page
        a.documentation.externalLink.hideable.hidden(target="new"): p Documentation
        a.download.externalLink.hideable.hidden(target="new"): p Download

        .view__adsense

    .mainBody
        h1.name
        .byline: p
        .description: p

        .tutorials.section.hideable.hidden
            h2 Tutorials
            .panel

        .itemGroups
