//-
//- Crafting Guide - multiblock_viewer.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__multiblock_viewer
    .view__multiblock
    .buttons
        .button.back: p back
        .button.next: p next
