//-
//- Crafting Guide - step.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__step
    h3
    .main_content
        .view__inventory
        .view__minimal_recipe
    .buttons
        .button.complete: p complete step
        .button.tool: p also make this tool
