//-
//- Crafting Guide - tutorial_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__tutorial_page
    .sidebar
        .titleImage: a: img
        a.officialPage.externalLink.hideable.hidden(target="new"): p Offical Documentation

        .view__adsense

    .mainBody
        h1.name
        .byline: p from <a></a>

        .sections

        .videos.section.hideable.hidden
            h2
            .panel
