//-
//- Crafting Guide - video.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__video
    iframe(width="365", height="273", src="", frameborder="0", allowfullscreen="true")
    .caption: p