//-
//- Crafting Guide - test.jade
//-
//- Copyright (c) 2014 by Redwood Labs
//- All rights reserved.
//-

extend ./layouts/basic

append styles
    link(rel="stylesheet", type="text/css", href="css/mocha.css")
    style #mocha-stats { position: absolute; top: 9em; }

block content
    #mocha

append scripts
    script(src="/js/mocha.js")
    script(src="/js/chai.js")
    script(src="/js/test.js")
