//-
//- Crafting Guide - craftsman_working.jade
//-
//- Copyright © 2014-2017 by Redwood Labs
//- All rights reserved.
//-

.view__craftsman_working
    .panel
        .waiting
            img(src='/images/wait.gif')
        .message
            p
        .count
            p
        .button: .bezel: p Calculate

    .outdated
        .message Your crafting plan is out of date!
        .button: .bezel: p Recalculate