//-
//- Crafting Guide - mod_ballot_line.jade
//-
//- Copyright © 2014-2017 by Redwood Labs
//- All rights reserved.
//-

.view__mod_ballot_line
    .vote-count
    img.icon(src='/images/unknown.png')
    .name
    .button.vote: .bezel: p ✓
    .wait
        img(src='/images/wait-small.gif')