//-
//- Crafting Guide - app.jade
//-
//- Copyright (c) 2014-2015 by Redwood Labs
//- All rights reserved.
//-

doctype html
html
    head
        title The Ultimate Minecraft Crafting Guide
        meta(charset="UTF-8")
        link(href="/images/favicon.png", rel="icon", type="image/png")

        block styles
            link(rel="stylesheet", type="text/css", href="/css/main.css")

    body
        block body
            .view__feedback
            .view__screen

            .content
                include ./includes/_header.jade
                .page.hideable
                include ./includes/_footer.jade

            block scripts
                include ./includes/_standard_scripts.jade
                include ./includes/_google_adsense.jade
                include ./includes/_google_analytics.jade
