//-
//- Crafting Guide - news_page.jade
//-
//- Copyright © 2014-2016 by Redwood Labs
//- All rights reserved.
//-

.content.view__news_page
    .left
        .view__adsense

    .right
        section
            h3 2016-04-05
            .panel
                p.
                    Today, I finally reveal the new Crafting Guide website!  While there are only minor changes to the
                    outward appearance, a <i>lot</i> has changed under the covers.  First, you should notice that the
                    general appearance is more consistently "Minecraft" in feel, and everything is quite a bit faster.
                    You should also notice that it works a little bit better on mobile devices (much more on that to
                    come).  Finally, you'll notice that things are organized a bit better than they have been in the
                    past.
                p.
                    If you've used the site before, one thing which has disappeared is the "configure" page.  Now, to
                    say which mods you're using, just go to the individual mod pages and select the version of that mod
                    you've got in your mod pack directly. Just as before, the rest of the website will adjust to use the
                    version you select (or to ignore that mod if you select "no" version).

        section
            h3 2016-03-26
            .panel
                p.
                    The second contribution comes from <a href="http://github.com/kythorn">Jay Oliver</a> who has
                    added the data files for <a href="/browse/quantum_flux">Quantum Flux</a>. Quantum Flux provides
                    various items for moving RF power wirelessly and manipulating the flow of time.  It also
                    provides some pretty powerful powered armor.
                p.
                    The third contribution, from <a href="http://github.com/ThePsionic">ThePsionic</a>, is a
                    BuildCraft add-on called <a href="/browse/logistics_pipes">Logistics Pipes</a>.  This mod adds
                    a whole complex set of pipes which allow automated retrieval, crafting, sorting, and more.

        section
            h3 2016-03-25
            .panel
                p.
                    I've gotten a few contributions of whole mods recently, and I'm catching up on getting them up
                    on the site.  First up is <a href="/browse/agricraft">Agricraft</a>, contributed by
                    <a href="http://github.com/dragagon">dragagon</a>!  Agricraft takes the idea of crops from IC2
                    and pumps it up to a whole new level with a cross-breeding program that introduces a way to grow
                    anything from native Minecraft flowers all the way up to diamonds!

        section
            h3 2015-02-11
            .panel
                p.
                    I've been using <a href="/browse/modular_powersuits">Modular PowerSuits</a> myself lately, and I
                    noticed that the newest version (finally!) comes with default recipes.  So, I've updated
                    Crafting Guide to support both the newest vanilla recipes as well as those from Thermal
                    Expansion.  You can switch back and forth on the <a href="/configure">Configure</a> page.

        section
            h3 2015-02-09
            .panel
                p.
                    Back before the winter holidays, the extremely patient <a href="https://github.com/tdallmann">
                    tdallmann</a> completed support for <a href="/browse/hydraulicraft/">Hydraulicraft</a>, and I'm
                    afraid I'm only now getting it up on the site!  It looks like a neat mod based all around the
                    science of hydraulics with a nicely stepped set of devices to be made at each level. Many thanks
                    to tddallmann for adding it to Crafting Guide!
                p.
                    I also received a submission for adding <a href="/browse/opencomputers">OpenComputers</a> from
                    <a href="https://github.com/yut23">yut23</a>.  Should be a big help to those aspiring Minecraft
                    programmers who want a bit more challege than is provided by <a href="/browse/computercraft">
                    ComputerCraft</a>!  Thanks, yut23!

        section
            h3 2015-11-25
            .panel
                p.
                    With many thanks to <a href="https://github.com/pkmnfrk">Mike Caron</a>, I'm pleased to announce
                    support for <a href="/browse/storage_drawers">Storage Drawers</a>!

        section
            h3 2015-12-13
            .panel
                p.
                    I'm super excited to announce that I've added full multi-block support for Crafting Guide! For
                    example, check out a <a href="/browse/big_reactors/5_core_passive_reactor">5-Core Reactor</a>
                    from Big Reactors, or the <a href="/browse/railcraft/steel_tank_5x5x5">5x5x5 Steel Tank</a> from
                    Railcraft.  I'm really pleased with how it turned out!

        section
            h3 2015-11-17
            .panel
                p.
                    And today, it's <a href="/browse/extra_cells">Extra Cells</a>!

        section
            h3 2015-11-16
            .panel
                p.
                    It's a small one, but also highly requested...  Here's <a
                    href="/browse/computercraft">ComputerCraft</a>!

        section
            h3 2015-11-14
            .panel
                p.
                    One more small one over the weekend... <a href="/browse/advanced_solar_panels">Advanced Solar
                    Panels</a> has been added to crafting guide!

        section
            h3 2015-11-14
            .panel
                p.
                    For a long while now, <a href="/browse/galacticraft">Galacticraft</a> has been the most
                    requested mod, and it's finally here!  Enjoy!

        section
            h3 2015-11-10
            .panel
                p.
                    Remember me?  They guy who runs the site.  Yeah, I'm back, and with big news!  The site now has
                    a completely new crafting algorithm.  Instead of just taking the first crafting plan it comes up
                    with, it tries to compute every possible plan, rates them, and then picks the best one.  This
                    also clears up a lot of bugs related to the old algorithm.  The one drawback is that some items
                    can take a bit longer to compute than with the old way, but I think you'll find it's worth it!
                p.
                    On a personal note, I think it's clear that I don't have nearly as much time to dedicate to the
                    site as I used to.  That's mostly because I started a new job which keeps me away from working
                    on the site so much.  I hope to be able to get into a more regular pace now things my personal
                    life has settled down again.
