//-
//- Crafting Guide - amazon.jade
//-
//- Copyright © 2014-2017 by Redwood Labs
//- All rights reserved.
//-

script(src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=357573bb-98d8-4294-8cdf-4361dbf11cee")
