//-
//- Crafting Guide - craft_page.jade
//-
//- Copyright © 2014-2016 by Redwood Labs
//- All rights reserved.
//-

- var quarryHref = '/craft/quarry'
- var quarry
- var quantumSuitHref = '/craft/quantumsuit_bodyarmor:quantumsuit_boots:quantumsuit_helmet:quantumsuit_leggings'
- var ic2Href = '/browse/industrial_craft_2'
- var solarPanelHref = '/craft/solar_panel_vi'
- var solarFluxHref = '/browse/solar_flux'

.content.view__craft_page
    .left
        .view__adsense

    .right
        section.instructions
            h2 Instructions
            .panel
                p.
                    Crafting Guide provides step-by-step instructions for thousands of items from Minecraft and many
                    popular mods.  Just click "Add an item..." down below.
                p.
                    Not sure what you'd like to make?  Try one of these:
                .items
                    a(href="/craft/potion_of_strength_ii_1_30")
                        img(src="/data/minecraft/items/potion_of_strength_ii_1_30/icon.png")
                    a(href="/craft/quarry")
                        img(src="/data/buildcraft/items/quarry/icon.png")
                    a(href="/craft/quantumsuit_bodyarmor:quantumsuit_boots:quantumsuit_helmet:quantumsuit_leggings")
                        img(src="/data/ic2_classic/items/quantumsuit_helmet/icon.png")
                    a(href="/craft/solar_panel_vi")
                        img(src="/data/solar_flux/items/solar_panel_vi/icon.png")
                    a(href="/craft/crystal_chest")
                        img(src="/data/iron_chests/items/crystal_chest/icon.png")
                    a(href="/craft/digital_miner")
                        img(src="/data/mekanism/items/digital_miner/icon.png")
                    a(href="/craft/2.tesseract")
                        img(src="/data/thermal_expansion/items/tesseract/icon.png")

        section.want
            h2 Items to Make
            .panel
                .view__inventory.large.editable

        section.have
            h2 Already in Inventory
            .panel
                .view__inventory.large.editable

        section.view__craftsman_working

        section.need
            h2 Need to Gather
            .panel
                .view__inventory.large

        section.steps
            h2 Steps
            .panel