//-
//- Crafting Guide - _google_sitelinks.jade
//-
//- Copyright © 2014-2017 by Redwood Labs
//- All rights reserved.
//-

script(type="application/ld+json").
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "http://crafting-guide.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "http://crafting-guide.com?search={search_term}",
            "query-input": "required name=search_term"
        }
    }
