//-
//- Crafting Guide - _google_adsense.jade
//-
//- Copyright (c) 2015-2016 by Redwood Labs
//- All rights reserved.
//-

script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")