//-
//- Crafting Guide - recipe.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__recipe
    .input
        .view__crafting_grid
        .tool
    .output
        .view__slot
        .multiplier