//-
//- Crafting Guide - inventory.jade
//-
//- Copyright © 2014-2016 by Redwood Labs
//- All rights reserved.
//-

.view__inventory
    .item_container
    .empty_placeholder nothing
    .buttons
        .button.item-selector: .bezel: p add an item...
        .button.clear: .bezel: p clear
